<h1>This is the main page</h1>
<h3>Pleace make your choise</h3>
<h3>Near you can chose URL what are you need</h3>
<%= link_to 'Page with favourites pictures', favourites_path %>
<br>
<%= link_to 'Page with form for add new favourites picture', new_favourite_path %>
<h5>Current time <%=@time%></h5>
<img src='<%= @url_image %>' alt="picture" class="testimg"/>
<p>Your image id: <%= @id_image %></p>